<div class="row mb-2">
    <h1>Редактировать запись с ID #{{id}}</h1>
</div>
<form class="row mb-2" [formGroup]="updUser">
        <div class="col-1">{{id}}</div>
        <div class="col-2" #personIdDiv><input class="form-control" type="text" placeholder="Имя" name=""
            formControlName="firstName" [value]=""></div>
        <div class="col-3">
          <input class="form-control" type="text" placeholder="Фамилия" name="" formControlName="lastName" value="">
        </div>
        <div class="col-3">
          <input class="form-control" type="text" formControlName="phone" prefix="+7 " mask="(000) 000 00 00"
            placeholder="+7 (000) 000 00 00" value="">
        </div>
        <div class="col-3">
          <button class="btn btn-primary" type="button" #editBtn [disabled]="updUser.valid"
            (click)="onEdit(id)">Cохранить</button>
        </div>
      </form>

 