<div class="row">
        <h1>Контакты</h1>
      </div>
<div class="row">
        <div method="get" action="" class="col-10 offset-1">
          <input class="form-control form-control-lg mb-2" type="text" name="" placeholder="Введите имя абонента..."
            [(ngModel)]="searchStr">
        </div>
      </div>
<app-person-view *ngFor="let person of persons | searchPipe:searchStr" [person]='person'
        (delete)='deleteFromArr($event)' (editPerson)="onEditPerson($event)"></app-person-view>
