<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-start">
      <a class="py-2 d-none d-md-inline-block mr-3" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Просмотр</a>
      <a class="py-2 d-none d-md-inline-block" [routerLink]="['/add']" routerLinkActive="active">Добавить</a>
    </div>
  </nav>
<div class="container">
  <hr>
  <router-outlet></router-outlet>
  <hr>
</div>
